@import './variables';

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: $color-dark;
  margin-inline: 2rem;
}

header {
  display: flex;
  align-items: center;
  margin: 2rem 0 4rem 0;
  gap: 0.5rem;
  h1 {
    color: $color-accent;
    font-size: $fs-h4;
  }
}

// input area
.budget-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  // Radio buttons
  .entry-type {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 0;
    padding: 0;
    color: $color-light;
    font-size: $fs-h5;
  }
  .entry-fields {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    flex-wrap: wrap;

    .field {
      min-width: 0;
      display: flex;
    }

    .field input,
    select {
      border-radius: 10px;
      height: 2.2rem;
      border: 1px solid $color-light;
      font-family: 'Josefin Sans';
      color: $color-light;
      background-color: $color-dark;
      padding-inline: 0.5rem;
      font-size: $fs-body;
      width: 100%;
    }
    select {
      padding-inline: 0.5rem;
    }
    .amount-field {
      flex: 0 0 5.5rem;
    }
  }
  .submit-field {
    display: flex;
    justify-content: flex-end;
    margin-block: 1rem;
    button {
      border-radius: 10px;
      font-family: 'Josefin Sans';
      padding: 0.6rem;
      border: none;
      background-color: $color-accent;
      font-size: 18px;
      line-height: 1.2;
    }
  }

  // Extra styles for form

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

//Entrys
.entries {
  max-width: 50rem;
  margin-inline: auto;

  hr {
    border-radius: 10px;
    border: 1px solid $color-grey;
    margin-bottom: 1rem;
  }
  .entries-tabs {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.66rem; // justera så den hamnar där ditt hr är
      width: 50%;
      height: 2px;
      border-radius: 10px;
      background: $color-accent;
      transition: transform 200ms ease;
    }

    button {
      background-color: transparent;
      border: none;
      font-family: 'Josefin Sans';
      font-size: $fs-h5;
      color: $color-light;
    }
  }
  .entries-tab[aria-selected='true'] {
    color: $color-accent;
  }

  .entries-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: $color-light;
    font-size: $fs-h6;
    margin-bottom: 1rem;
    .entry-column-1 {
      display: flex;
      gap: 1rem;
      .entry-note::first-letter {
        text-transform: uppercase;
      }
      .entry-summary {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.2rem;
        .entry-meta {
          font-weight: 200;
          flex-direction: column;
          display: flex;
          gap: 0.2rem;
          .entry-date {
            color: $color-grey;
            font-size: $fs-body;
          }
        }
      }
    }
    .entry-column-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      button {
        background: none;
        border: none;
        padding: 1.5rem;
      }
    }
  }

  .entries-total {
    display: flex;
    justify-content: end;
    font-size: $fs-h4;
    margin-block: 1rem;
    gap: 0.5rem;
    color: $color-light;

    .total-amount.is-income {
      color: $color-green;
    }

    .total-amount.is-expense {
      color: $color-pink;
    }
  }
}
.entries-tab.is-active {
  color: $color-accent;
}
.entries.is-expense-active .entries-tabs::after {
  transform: translateX(100%);
}
.entries.is-income-active .entries-tabs::after {
  transform: translateX(0);
}
