@import './variables';

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: $color-dark;
  margin-inline: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  max-width: 50rem;
  padding-block: 1rem;
  h1 {
    color: $color-accent;
    font-size: $fs-h4;
  }
  .branding {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .period-mode {
    button {
      padding: 0.5rem;
      border: none;
      background-color: $color-grey;
      border-radius: 10px;
      font-family: 'Josefin Sans';
      font-size: $fs-body;
      color: $color-dark;
    }
    button.is-active {
      background-color: $color-accent;
    }
  }
}

main {
  max-width: 50rem;
  margin: 0 auto;
}

// Balance summary
.balance-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem 0 2rem 0;
  .period-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-light;
    font-size: $fs-h4;
    button {
      background-color: transparent;
      border: none;
      padding: 1.2rem;
      .left {
        transform: rotate(90deg);
      }
      .right {
        transform: rotate(-90deg);
      }
    }
  }

  .summary-wrapper {
    border: 1px solid $color-accent;
    padding: 1rem;
    border-radius: 10px;
    .summary-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        color: $color-light;
        font-size: $fs-h4;
        margin-bottom: 1rem;
      }
    }
    .summary-balance-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    .balance-item {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
    .balance-value {
      color: $color-light;
      font-size: $fs-h6;
    }
    .balance-label {
      color: $color-grey;
      font-size: $fs-body;
    }
    .balance-value.is-expense {
      color: $color-pink;
    }

    .balance-value.is-savings {
      color: $color-green;
    }

    .balance-value.is-positive {
      color: $color-green;
    }
    .balance-value.is-negative {
      color: $color-pink;
    }
  }
}

// input area
.budget-posting {
  h3 {
    color: $color-light;
    font-size: $fs-h4;
  }
  .budget-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // Radio buttons
    .entry-type {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 1rem;
      border: 0;
      padding: 0;
      margin-top: 1.5rem;
      color: $color-light;
      font-size: $fs-h6;
    }
    .entry-fields {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 1rem;
      row-gap: 0;
      width: 100%;
      flex-wrap: wrap;

      .field {
        min-width: 0;
        display: flex;
      }

      .field input,
      select {
        border-radius: 10px;
        height: 2.2rem;
        border: 1px solid $color-light;
        font-family: 'Josefin Sans';
        color: $color-light;
        background-color: $color-dark;
        padding-inline: 0.5rem;
        font-size: $fs-body;
        width: 100%;
      }
      select {
        padding-inline: 0.5rem;
      }
      .amount-field {
        flex: 0 0 5.5rem;
      }
      .category {
        width: 100%;
        min-width: 10rem;
      }
    }
    .submit-field {
      display: flex;
      justify-content: flex-end;
      margin-block: 1rem;
      button {
        border-radius: 10px;
        font-family: 'Josefin Sans';
        height: 2.3rem;
        line-height: 2.3;
        padding-inline: 0.5rem;
        border: none;
        color: $color-dark;
        background-color: $color-accent;
        font-size: $fs-body;
      }
    }

    // Extra styles for form

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }
}

//Entrys
.entries {
  margin-inline: auto;

  .entries-tabs {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 3rem 0;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.63rem; // justera så den hamnar där ditt hr är
      width: 33%;
      height: 2px;
      border-radius: 10px;
      background: $color-accent;
      transition: transform 200ms ease;
    }

    button {
      background-color: transparent;
      border: none;
      font-family: 'Josefin Sans';
      font-size: $fs-h6;
      color: $color-light;
    }
  }
  .entries-tab[aria-selected='true'] {
    color: $color-accent;
  }

  .entries-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: $color-light;
    font-size: $fs-h6;
    margin-bottom: 1rem;
    .entry-column-1 {
      display: flex;
      gap: 1rem;
      .entry-note::first-letter {
        text-transform: uppercase;
      }
      .entry-summary {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.2rem;
        .entry-meta {
          font-weight: 200;
          flex-direction: column;
          display: flex;
          gap: 0.2rem;
          .entry-date {
            color: $color-grey;
            font-size: $fs-body;
          }
        }
      }
    }
    .entry-column-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background: none;
        border: none;
        padding: 1.5rem;
      }
    }
  }

  .entries-total {
    display: flex;
    justify-content: end;
    font-size: $fs-h6;
    margin: 1rem 1.5rem;
    gap: 0.5rem;
    color: $color-light;

    .total-amount.is-income {
      color: $color-green;
    }
    .total-amount.is-expense {
      color: $color-pink;
    }
    .total-amount.is-savings {
      color: $color-green;
    }
  }
}
.entries-tab.is-active {
  color: $color-accent;
}
.entries.is-income-active .entries-tabs::after {
  transform: translateX(0);
}
.entries.is-expense-active .entries-tabs::after {
  transform: translateX(100%);
}
.entries.is-savings-active .entries-tabs::after {
  transform: translateX(200%);
}
